.greenbgpart{
    height: 900px;
    width: 100%;
    background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/trust-bg.jpg) ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.greenbgpart1{
    height: 500px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
  
    color: white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}
.greenbgpart2{
    height: 500px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
   
    color: white;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}