.maindiv{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 10%; */
    background-color: black;
}
.maindivchild{
    height: 800px;
    width: 90%;
    display: flex;
    position: relative;
    top: 60px;
    justify-content: center;
    align-items: flex-end;
}
.img1{
    height: 500px;
    
    position: relative;
    left: 20%;
   
}
.img2{
    height: 600px;
    position: relative;
    left: 12%;
    z-index: 98;
}
.img3{
    height: 650px;
    position: relative;
    z-index: 100;
    bottom: 5%;
}
.img4{
    height: 600px;
    position: relative;
    right: 12%;
    z-index: 98;
}
.img5{
    height: 500px;
    position: relative;
    right: 20%; 
}