.helllo{
    height:1000px;
    width: 100%;
 background-image: url(https://web-images.credcdn.in/_next/assets/images/home-page/image-mock.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
   color: rgba(255, 255, 255, 0);
}